// Fonts
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");

$white: #fff;
$black: #2e2e2e;
$gray: #787878;
$highlight: #ea8478;
$footer: #f7f7f7;

@media screen and (min-width: 1301px) {
    blockquote {
        border-left: 4px solid #ccc;
        margin-bottom: 5px;
        margin-top: 5px;
        padding-left: 16px;
    }

    pre {
        background-color: #23241f;
        color: #f8f8f2;
        overflow: visible;
        border-radius: 3px;
        text-align: justify;
        white-space: pre-wrap;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 5px 10px;
    }
    .title {
        color: $black;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .category {
        font-size: 1rem;
        color: $gray;
    }

    .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        display: none;
        min-width: 160px;
        _width: 100%;
        padding: 4px 0;
        margin: 2px 0 0 0;
        list-style: none;
        background-color: #ffffff;
        border-color: #ccc;
        border-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        *border-right-width: 2px;
        *border-bottom-width: 2px;

        .ui-menu-item > a.ui-corner-all {
            display: block;
            padding: 3px 15px;
            clear: both;
            font-weight: normal;
            line-height: 18px;
            color: #555555;
            white-space: nowrap;

            &.ui-state-hover,
            &.ui-state-active {
                color: #ffffff;
                text-decoration: none;
                background-color: #0088cc;
                border-radius: 0px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                background-image: none;
            }
        }
    }

    .ui-helper-hidden-accessible {
        display: none !important;
    }

    .section1 {
        //background: #01ABBD;
        background: url("/storage/misc/SYNVANCE-PHOTOS-HEADER-75.jpg");
        background-attachment: fixed !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5rem;
    }
    .homeSection {
        height: 100vh;
        background: url("/storage/misc/SYNVANCE-PHOTOS-HEADER-75.jpg");
    }

    .section2 {
        background: #221f20;
        width: 100%;
        height: 35em;
        align-items: center;
        justify-content: center;
        padding-top: 5rem;
        position: relative;
        z-index: 2;
        box-shadow: 0px -4px 22px 0px rgba(0, 0, 0, 0.37);
    }

    .customNavbar {
        position: fixed;
        z-index: 10;
        width: 100%;
    }

    .appContent {
        z-index: 0;
        padding-top: 0 !important;
    }

    .content {
        font-family: "Montserrat SemiBold";
    }

    .homeTitle {
        color: white;
        text-align: center;
        display: block;
    }

    .customNav {
        position: fixed;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;

        a {
            font-size: 0px;
            line-height: 0px;
            display: block;
            width: 20px;
            height: 20px;
            background: transparent;
            border: 4px solid #fff;
            border-radius: 50%;
            margin: 10px 0;
            filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
        }
    }

    strong {
        font-size: 80px;
        text-align: center;
        display: block;
        color: #fff;
        font-family: "Montserrat", sans-serif;
    }

    #marketplace {
        color: #01abbd;
        margin-right: 20px;
        font-family: "Montserrat", sans-serif;
    }

    #fiori {
        margin-right: 15px;
        font-family: "Montserrat", sans-serif;
    }

    #categories {
        margin-top: 10vh;
    }

    body {
        //background-color: #221F20;
    }

    .search {
        display: table;

        input {
            background: none;
            border: none;
            outline: none;
            width: 100%;
            min-width: 0;
            padding: 0;
            z-index: 1;
            position: relative;
            line-height: 18px;
            margin: 5px 0;
            font-size: 30px;
            -webkit-appearance: none;
            font-family: "Montserrat", sans-serif;
            transition: all 0.6s ease;
            cursor: pointer;
            color: $white;

            & + div {
                position: relative;
                height: 50px;
                width: 100%;
                margin: -28px 0 0 0;

                svg {
                    display: block;
                    position: absolute;
                    height: 50px;
                    width: 100%;
                    right: 0;
                    top: 0;
                    fill: none;
                    stroke: $white;
                    stroke-width: 1.5px;
                    stroke-dashoffset: 212.908 + 59;
                    stroke-dasharray: 59 212.908;
                    transition: all 0.6s ease;
                }
            }

            &:not(:placeholder-shown),
            &:focus {
                width: 100%;
                padding: 0 4px;
                cursor: text;

                & + div {
                    svg {
                        stroke-dasharray: 150 212.908;
                        stroke-dashoffset: 300;
                    }
                }
            }
        }
    }

    footer {
        background: #11aabe;
        height: 65px;
        padding: 1.25em;
    }

    .hometext {
        position: fixed;
        z-index: 1;
        left: 5%;
    }

    .row {
        margin-right: 0 !important;
    }

    .social {
        border-radius: 50px;
    }

    div.desc img {
        display: block !important;
        margin-top: 1em !important;
    }

    div.desc p {
        width: 100% !important;
        margin-bottom: 0em !important;
    }
}

@media screen and (max-width: 1300px) {
    blockquote {
        border-left: 4px solid #ccc;
        margin-bottom: 5px;
        margin-top: 5px;
        padding-left: 16px;
    }

    pre {
        background-color: #23241f;
        color: #f8f8f2;
        overflow: visible;
        border-radius: 3px;
        text-align: justify;
        white-space: pre-wrap;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 5px 10px;
    }
    .title {
        color: $black;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .category {
        font-size: 1rem;
        color: $gray;
    }

    .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        display: none;
        min-width: 160px;
        _width: 100%;
        padding: 4px 0;
        margin: 2px 0 0 0;
        list-style: none;
        background-color: #ffffff;
        border-color: #ccc;
        border-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        *border-right-width: 2px;
        *border-bottom-width: 2px;

        .ui-menu-item > a.ui-corner-all {
            display: block;
            padding: 3px 15px;
            clear: both;
            font-weight: normal;
            line-height: 18px;
            color: #555555;
            white-space: nowrap;

            &.ui-state-hover,
            &.ui-state-active {
                color: #ffffff;
                text-decoration: none;
                background-color: #0088cc;
                border-radius: 0px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                background-image: none;
            }
        }
    }

    .ui-helper-hidden-accessible {
        display: none !important;
    }

    .section1 {
        //background: #01ABBD;
        background: url("/storage/misc/SYNVANCE-PHOTOS-HEADER-75.jpg");
        background-attachment: fixed !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        width: 100%;
        min-height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5rem;
    }
    .homeSection {
        height: 100vh;
        background: url("/storage/misc/SYNVANCE-PHOTOS-HEADER-75.jpg");
    }

    .section2 {
        background: #221f20;
        width: 100%;
        height: 100%;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 1em;
        position: relative;
        z-index: 2;
        box-shadow: 0px -4px 22px 0px rgba(0, 0, 0, 0.37);
    }

    .customNavbar {
        position: fixed;
        z-index: 10;
        width: 100%;
    }

    .appContent {
        z-index: 0;
        padding-top: 0 !important;
    }

    .content {
        font-family: "Montserrat SemiBold";
    }

    .homeTitle {
        color: white;
        text-align: center;
        display: block;
    }

    .customNav {
        position: fixed;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;

        a {
            font-size: 0px;
            line-height: 0px;
            display: block;
            width: 20px;
            height: 20px;
            background: transparent;
            border: 4px solid #fff;
            border-radius: 50%;
            margin: 10px 0;
            filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
        }
    }

    strong {
        font-size: 80px;
        text-align: center;
        display: block;
        color: #fff;
        font-family: "Montserrat", sans-serif;
    }

    #marketplace {
        color: #01abbd;
        margin-right: 20px;
        font-family: "Montserrat", sans-serif;
    }

    #fiori {
        margin-right: 15px;
        font-family: "Montserrat", sans-serif;
    }

    #categories {
        margin-top: 10vh;
    }

    body {
        //background-color: #221F20;
    }

    .search {
        display: table;

        input {
            background: none;
            border: none;
            outline: none;
            width: 100%;
            min-width: 0;
            padding: 0;
            z-index: 1;
            position: relative;
            line-height: 18px;
            margin: 5px 0;
            font-size: 30px;
            -webkit-appearance: none;
            font-family: "Montserrat", sans-serif;
            transition: all 0.6s ease;
            cursor: pointer;
            color: $white;

            & + div {
                position: relative;
                height: 50px;
                width: 100%;
                margin: -28px 0 0 0;

                svg {
                    display: block;
                    position: absolute;
                    height: 50px;
                    width: 100%;
                    right: 0;
                    top: 0;
                    fill: none;
                    stroke: $white;
                    stroke-width: 1.5px;
                    stroke-dashoffset: 212.908 + 59;
                    stroke-dasharray: 59 212.908;
                    transition: all 0.6s ease;
                }
            }

            &:not(:placeholder-shown),
            &:focus {
                width: 100%;
                padding: 0 4px;
                cursor: text;

                & + div {
                    svg {
                        stroke-dasharray: 150 212.908;
                        stroke-dashoffset: 300;
                    }
                }
            }
        }
    }

    footer {
        background: #11aabe;
        height: 65px;
        padding: 1.25em;
    }

    .hometext {
        position: fixed;
        z-index: 1;
        left: 5%;
    }

    .row {
        margin-right: 0 !important;
    }

    .social {
        border-radius: 50px;
    }

    div.desc img {
        display: block !important;
        margin-top: 1em !important;
    }

    div.desc p {
        width: 100% !important;
        margin-bottom: 0em !important;
    }
}

//butttons
.buttons {
    margin: 10%;
    text-align: center;
}

.btnMain {
    width: 250px;
    border-radius: 2px;
    height: 65px;
    font-weight: 600;
    background: none;
    border: 0;
    box-sizing: border-box;
    margin: 1em;
    padding: 1em 2em;

    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
    /*font-size: inherit;*/
    font-weight: 700;
    font-size: 18px;

    position: relative;
    vertical-align: middle;

    &::before,
    &::after {
        box-sizing: inherit;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.centerCss {
    &:hover {
        color: #01abbd;
    }

    &::before,
    &::after {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform-origin: center;
    }

    &::before {
        border-top: 2px solid #01abbd;
        border-bottom: 2px solid #01abbd;
        transform: scale3d(0, 1, 1);
    }

    &::after {
        border-left: 2px solid #01abbd;
        border-right: 2px solid #01abbd;
        transform: scale3d(1, 0, 1);
    }

    &:hover::before,
    &:hover::after {
        transform: scale3d(1, 1, 1);
        transition: transform 0.5s;
    }
}

.btnTuiles {
    background: none;
    border: 0;
    box-sizing: border-box;
    margin: 1em;
    padding: 1em 2em;

    box-shadow: inset 0 0 0 2px white;
    color: white;
    font-size: 20px;
    font-weight: 700;

    position: relative;
    vertical-align: middle;

    &::before,
    &::after {
        box-sizing: inherit;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.draw {
    transition: color 0.25s;

    &::before,
    &::after {
        border: 2px solid transparent;
        width: 0;
        height: 0;
    }

    &::before {
        top: 0;
        left: 0;
    }

    &::after {
        bottom: 0;
        right: 0;
    }

    &:hover {
        color: #fff;
    }

    &:hover::before,
    &:hover::after {
        width: 100%;
        height: 100%;
    }

    &:hover::before {
        border-top-color: #221f20;
        border-right-color: #221f20;
        transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    }

    &:hover::after {
        border-bottom-color: #221f20;
        border-left-color: #221f20;
        transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
            height 0.25s ease-out 0.75s;
    }
}

.meet {
    &:hover {
        color: #01abbd;
    }

    &::after {
        top: 0;
        left: 0;
    }

    &:hover::before {
        border-top-color: #01abbd;
        border-right-color: #01abbd;
    }

    &:hover::after {
        border-bottom-color: #01abbd;
        border-left-color: #01abbd;
        transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
    }
}

.meetRetour {
    &:hover {
        color: #bd101d;
    }

    &::after {
        top: 0;
        left: 0;
    }

    &:hover::before {
        border-top-color: #bd101d;
        border-right-color: #bd101d;
    }

    &:hover::after {
        border-bottom-color: #bd101d;
        border-left-color: #bd101d;
        transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
    }
}

.mleft-70 {
    margin-left: 70px;
}

.btn-hover.color-1 {
    background-image: linear-gradient(
        to right,
        #25aae1,
        #40e495,
        #30dd8a,
        #2bb673
    );
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.btn-hover.color-2 {
    background-image: linear-gradient(
        to right,
        #f5ce62,
        #e43603,
        #fa7199,
        #e85a19
    );
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.btn-hover.color-3 {
    background-image: linear-gradient(
        to right,
        #667eea,
        #764ba2,
        #6b8dd6,
        #8e37d7
    );
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.btn-hover.color-4 {
    background-image: linear-gradient(
        to right,
        #fc6076,
        #ff9a44,
        #ef9d43,
        #e75516
    );
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

.btn-hover.color-5 {
    background-image: linear-gradient(
        to right,
        #0ba360,
        #3cba92,
        #30dd8a,
        #2bb673
    );
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.btn-hover.color-6 {
    background-image: linear-gradient(
        to right,
        #009245,
        #fcee21,
        #00a8c5,
        #d9e021
    );
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}

.btn-hover.color-7 {
    background-image: linear-gradient(
        to right,
        #6253e1,
        #852d91,
        #a3a1ff,
        #f24645
    );
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.btn-hover.color-8 {
    background-image: linear-gradient(
        to right,
        #29323c,
        #485563,
        #2b5876,
        #4e4376
    );
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.btn-hover.color-9 {
    background-image: linear-gradient(
        to right,
        #01abbd,
        #00a3a9,
        #009a94,
        #00917f,
        #008769
    );
    box-shadow: 0 2px 10px 0 rgba(1, 171, 189, 1);
}

.btn-hover.color-10 {
    background-image: linear-gradient(
        to right,
        #ed6ea0,
        #ec8c69,
        #f7186a,
        #fbb03b
    );
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.btn-hover.color-11 {
    background-image: linear-gradient(
        to right,
        #eb3941,
        #f15e64,
        #e14e53,
        #e2373f
    );
    box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}
