.agile
    &__dots
        bottom: 10px
        flex-direction: column
        right: 30px
        position: absolute

    &__dot
        margin: 5px 0

        button
            background-color: transparent
            border: 1px solid #fff
            cursor: pointer
            display: block
            height: 10px
            font-size: 0
            line-height: 0
            margin: 0
            padding: 0
            transition-duration: .3s
            width: 10px

        &--current,
        &:hover
            button
                background-color: #fff

// Slides styles
.slide
    display: block
    height: 500px
    object-fit: cover
    width: 80%

