<template>
    <div class="container">
        <agile :navButtons="false" >
            <div class="slide" v-for="image in images">
                <b-img :src="path + image.nom"></b-img>
            </div>
        </agile>
    </div>
</template>

<script>
    import {VueAgile} from 'vue-agile'

    Vue.use(VueAgile);
    export default {
        name: 'carousel',

        components: {
            agile: VueAgile
        },

        data() {
            return {
                images: [],
                path: '../storage/ImagesTuiles/'
            }
        },
        mounted() {
            var that = this;
            axios.get('/imgGetCarousel').then(function (res) {
                that.images = res.data;
            });

        },
        methods: {}
    }
</script>

<style lang="sass" scoped>


</style>
