<template>
<div class="row">
    <div class="col-lg-12">
        <b-card title="Catégories :">

            <div class="row">
                <div class="col-lg-12">

                    <ul>
                        <li v-for="categorie in categories">
                            {{ categorie.nom }}
                        </li>
                    </ul>
                    <b-button-group>
                        <b-button variant="success" v-on:click="showAdd()">Ajouter</b-button>
                        <b-button variant="primary" v-on:click="showEdit()">Modifier</b-button>
                        <b-button variant="danger" v-on:click="showDelete()">Supprimer</b-button>
                    </b-button-group>
                </div>
            </div>

        </b-card>
        <br>
        <div class="row" v-if="add === true">
            <div class="col-lg-12">
                <b-card title="Ajouter une Catégorie :">
                    <b-form @submit="onSubmit" @reset="onReset">


                        <b-form-group id="input-group-2" label="Nom:" label-for="input-2">
                            <b-form-input id="input-2" v-model="nom" required placeholder="Entrez le nom"></b-form-input>
                        </b-form-group> <b-button type="submit" variant="primary">Créer</b-button>
                        <b-button type="reset" variant="danger">Annuler</b-button>
                    </b-form>
                </b-card>
            </div>
        </div>

        <div class="row" v-if="edit === true">
            <div class="col-lg-12">
                <b-card title="Modifier une Catégorie :">
                    <b-form @submit="onEdit" @reset="onReset">
                        <b-form-group id="input-group-4" label="Selectonnez une catégorie:" label-for="input-2">
                            <b-form-select v-model="selected" :options="options" v-on:change="onEditSelect"></b-form-select>
                        </b-form-group>

                        <b-form-group id="input-group-4" label="Nom:" label-for="input-2" v-if="selected !== ''">
                            <b-form-input id="input-2" v-model="nom" required placeholder="Entrez le nom"></b-form-input>
                        </b-form-group>

                        <b-button type="submit" variant="primary">Modifier</b-button>
                        <b-button type="reset" variant="danger">Annuler</b-button>
                    </b-form>
                </b-card>
            </div>
        </div>

        <div class="row" v-if="Delete === true">
            <div class="col-lg-12">
                <b-card title="Supprimer une Catégorie :">
                    <b-form @submit="onDelete" @reset="onReset">
                        <b-form-group id="input-group-4" label="Selectonnez une catégorie:" label-for="input-2">
                            <b-form-select v-model="selected" :options="options" v-on:change="onEditSelect"></b-form-select>
                        </b-form-group>
                        <b-button type="submit" variant="danger">Supprimer</b-button>
                        <b-button type="reset" variant="primary">Annuler</b-button>
                    </b-form>
                </b-card>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            nom: '',
            categories: [],
            add: false,
            edit: false,
            Delete: false,
            selected: '',
            options: []
        }
    },
    mounted() {
        this.getcats();
    },
    methods: {
        onSubmit() {

            axios.post('/catStore', {
                nom: this.nom
            });
            this.onReset();
            this.add = false;
            this.getcats();
        },
        onReset(evt) {
            evt.preventDefault()
            // Reset our form values
            this.form.desc = '';
            this.form.nom = '';

            // Trick to reset/clear native browser form validation state
            this.show = false;
            this.$nextTick(() => {
                this.show = true
            });
            this.add = false;

        },

        getcats() {
            var that = this;
            axios.get('/catGet').then(function(response) {

                that.categories = response.data;
                for (var i = 0; i < that.categories.length; i++) {
                    that.options.push({
                        text: that.categories[i].nom,
                        value: that.categories[i].ID
                    })
                }
            });

        },

        showAdd() {
            this.add = true;
            this.edit = false;
            this.Delete = false;
        },
        showEdit() {
            this.add = false;
            this.edit = true;
            this.Delete = false;
        },
        showDelete() {
            this.add = false;
            this.edit = false;
            this.Delete = true;
        },

        onEditSelect() {
            var that = this;
            axios.post('/catById', {
                id: that.selected
            }).then(function(res) {
                that.nom = res.data.nom;
            });
        },

        onEdit() {
            axios.post('/catEdit', {
                ID: this.selected,
                nom: this.nom
            });
            this.onReset();
            this.edit = false;
            this.getcats();
        },

        onDelete() {
            var that = this;
            axios.delete('/catDelete', {
                ID: this.selected
            }).then(function () {
              that.Delete = false;
              that.getcats();
            });

        }
    }
}
</script>
<style>
.appContent {
    padding-top: 80px;
}
</style>
