<template>
    <div>
        <div class="row ">
            <div class="col-lg-3"></div>
            <div class="col-lg-2">
                <button v-if="Search === ''" class="btnTuiles draw meet" v-on:click="Search='cat'">Par catégorie
                </button>
            </div>
            <div class="col-lg-2">
                <button v-if="Search === ''" class="btnTuiles draw meet mleft-70" v-on:click="Search='tag'">Par tag
                </button>
            </div>
            <div class="col-lg-2">
                <button v-if="Search === ''" class="btnTuiles draw meet" v-on:click="Search = 'name'">Par nom</button>
            </div>
            <div class="col-lg-3"></div>

        </div>

        <div class="row" v-if="Search === 'cat'">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div v-if="selectedCat === ''" style="width: 100%">
                    <button class="btnTuiles draw meetRetour" v-on:click="Search=''">Retour</button>
                    <button v-for="categorie in categories" class="btnTuiles draw meet" :id="'btn-'+categorie.ID"
                            v-on:click="catSelect(categorie)">{{categorie.nom}}
                    </button>
                </div>


                <div v-if="selectedCat !==''">
                    <button class="btnTuiles draw meetRetour" v-on:click="selectedCat = ''">Retour</button>
                    <button v-for="tuile in tuiles" class="btnTuiles draw meet" :id="'btn-'+tuile.ID" v-on:click="getTuile(tuile)">{{tuile.nom}}
                    </button>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>

        <div class="row" v-if="Search === 'name'">
            <div class="col-lg-5"></div>
            <div class="col-lg-2" style="padding-top: 25px;">
                <div class="search">
                    <input type="text" placeholder=" " id="inputName" v-model="nameSearch" @input="searchByName">
                    <div>
                        <svg>
                            <use xlink:href="#path"></use>
                        </svg>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 28" id="path">
                        <path
                            d="M32.9418651,-20.6880772 C37.9418651,-20.6880772 40.9418651,-16.6880772 40.9418651,-12.6880772 C40.9418651,-8.68807717 37.9418651,-4.68807717 32.9418651,-4.68807717 C27.9418651,-4.68807717 24.9418651,-8.68807717 24.9418651,-12.6880772 C24.9418651,-16.6880772 27.9418651,-20.6880772 32.9418651,-20.6880772 L32.9418651,-29.870624 C32.9418651,-30.3676803 33.3448089,-30.770624 33.8418651,-30.770624 C34.08056,-30.770624 34.3094785,-30.6758029 34.4782612,-30.5070201 L141.371843,76.386562"
                            transform="translate(83.156854, 22.171573) rotate(-225.000000) translate(-83.156854, -22.171573)"></path>
                    </symbol>
                </svg>
            </div>
            <div class="col-lg-5"><button class="btnTuiles draw meetRetour" v-on:click="Search=''">Retour</button></div>
        </div>

        <div class="row" v-if="searchedTile.length !==0 && Search!=='' && Search !==''" id="result">
            <div class="col-lg-2"></div>

            <div class="col-lg-8">
                <button class="btnTuiles draw meetRetour" v-on:click="Search = ''">Retour</button>
                <button v-for="tuile in searchedTile" class="btnTuiles draw meet" :id="'btn-'+tuile.ID"
                        v-on:click="getTuile(tuile.nom)">{{tuile}}
                </button>
            </div>
            <div class="col-lg-2"></div>
        </div>

        <div class="row" v-if="Search === 'tag'">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div v-if="selectedTag === ''" style="width: 100%">
                    <button class="btnTuiles draw meetRetour" v-on:click="Search=''">Retour</button>
                    <button v-for="tag in tags" class="btnTuiles draw meet" :id="'btn-'+tag.ID"
                            v-on:click="tagSelect(tag)">{{tag.nom}}
                    </button>
                </div>
                <div v-if="selectedTag !==''">
                    <button class="btnTuiles draw meetRetour" v-on:click="selectedTag = ''">Retour</button>
                    <button v-for="tuile in tuiles" class="btnTuiles draw meet" :id="'btn-'+tuile.ID" v-on:click="getTuile(tuile)">{{tuile.nom}}
                    </button>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Categories",

        data() {
            return {
                categories: [],
                tuiles: [],
                selectedCat: '',
                selectedTile: '',
                Search: '',
                nameSearch: '',
                tiles: [],
                searchedTile: [],
                tags: [],
                selectedTag: ''
            }
        },

        mounted() {
            this.getTuiles();
            var that = this;
            axios.get('/catGet').then(function (response) {
                that.categories = response.data;
            });

            axios.get('/tagGet').then(function (response) {
                that.tags = response.data;
            });


            this.selected = false;
        },

        watch: {
            tilesByName() {

            }
        },

        methods: {
            getTuiles() {
                var that = this;
                axios.get('/tuilesGet').then(function (response) {
                    for (var i = 0; i < response.data.length; i++) {
                        that.tiles.push(response.data[i].nom);
                    }

                });

            },
            catSelect(cat) {
                this.tuiles = [];
                var that = this;
                this.selectedCat = cat.nom;

                axios.post('/tuilesCat', {ID: cat.ID}).then(function (response) {
                    console.log(response);
                    that.tuiles = response.data;
                });

            },
            tagSelect(tag) {
                this.searchedTile = [];
                var that = this;
                this.selectedTag = tag.nom;

                axios.post('/tileByTag', {ID: tag.ID}).then(function (response) {
                    console.log(response);
                    that.tuiles = response.data;
                });

            },

            searchByName() {
                var that = this;
                if (this.nameSearch.length >= 2) {
                    axios.post('/tuilesSearch', {nom: this.nameSearch}).then(function (response) {
                        that.searchedTile = [];
                        for (var i = 0; i < response.data.length; i++) {
                            that.searchedTile.push(response.data[i].nom);
                        }
                    });
                }
                else{
                    this.searchedTile = []
                }
            },

            getTuile(tuile) {
                window.location.href = "/tuile/" + tuile.nom
            },


        }

    }
</script>

<style scoped>

    #result {
        margin-top: 60px;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }


</style>
