<template>
  <div class="container1">
    <div class="row">
      <div class="col-lg-12">
        <b-card title="Tuiles :">
          <div class="row">
            <div class="col-lg-12">
              <ul>
                <li v-for="tuile in tuiles">{{ tuile.nom }}</li>
              </ul>
              <b-button-group>
                <b-button variant="success" v-on:click="showAdd()">Ajouter</b-button>
                <b-button variant="primary" v-on:click="showEdit()">Modifier</b-button>
                <b-button variant="danger" v-on:click="showDelete()">Supprimer</b-button>
              </b-button-group>
            </div>
          </div>
        </b-card>
        <br />

        <!--            Page add-->
        <div class="row" v-if="add === true">
          <div class="col-lg-12">
            <b-card title="Ajouter une Tuile :">
              Progression :
              <b-progress :value="progression" :max="100" animated></b-progress>
              <br />
              <b-form @submit="onSubmit" @reset="onReset">
                <b-form-group
                  id="input-group-2"
                  label="Nom :"
                  label-for="input-2"
                  v-if="addPage === 1"
                >
                  <b-form-input
                    id="input-2"
                    v-model="nom"
                    required
                    placeholder="Entrez le nom"
                    aria-describedby="input-live-feedback"
                  />
                  <b-form-invalid-feedback id="input-live-feedback">Entrer au moins 5 lettres</b-form-invalid-feedback>
                </b-form-group>

                <b-form-group
                  id="input-group-3"
                  label="Description :"
                  label-for="textarea"
                  v-if="addPage === 2"
                >
                  <b-card>
                    Essayez de suivre ce modèle de description pour la mise en page de votre
                    tuile (la description sera affichée telle que vous l'avez écrite) :
                    <b-img src="storage/patternDesc.png" style="width: 390px"></b-img>
                  </b-card>
                  <quill-editor v-model="text" ref="myQuillEditor" :options="editorOption" />
                </b-form-group>
                <b-form-group
                  id="input-group-4"
                  label="Catégorie :"
                  label-for="input-4"
                  v-if="addPage === 3"
                >
                  <b-form-select id="input-4" v-model="selected" :options="categories" />
                </b-form-group>

                <b-form-group
                  id="input-group-5"
                  label="Prix :"
                  label-for="input-5"
                  v-if="addPage === 4"
                >
                  <b-form-input type="number" id="input-5" v-model="prix" />
                </b-form-group>

                <b-form-group
                  id="input-group-8"
                  label="Coût de setup :"
                  label-for="input-5"
                  v-if="addPage === 4"
                >
                  <b-form-input type="number" id="input-8" v-model="setupCost" />
                </b-form-group>

                <b-form-group
                  id="input-group-6"
                  label="Prérequis:"
                  label-for="input-5"
                  v-if="addPage === 4"
                >
                  <!--                                    <b-form-tags id="input-5" v-model="Prerequis" remove-on-delete tag-pills-->
                  <!--                                                 tag-variant="primary"-->
                  <!--                                    />-->
                  <b-form-tags v-model="Prerequis" no-outer-focus class="mb-2">
                    <template v-slot="{ tags, disabled, addTag, removeTag }">
                      <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                        <li v-for="tag in tags" :key="tag" class="list-inline-item">
                          <b-form-tag
                            @remove="removeTag(tag)"
                            :title="tag"
                            :disabled="disabled"
                            variant="primary"
                            tag-pills
                          >{{ tag }}</b-form-tag>
                        </li>
                      </ul>

                      <b-dropdown size="sm" variant="outline-secondary" block menu-class="w-100">
                        <template v-slot:button-content>
                          <b-icon icon="tag-fill"></b-icon>Choissisez les prérequis
                        </template>
                        <b-dropdown-form @submit.stop.prevent="() => {}">
                          <b-form-group
                            label-for="tag-search-input"
                            label="Search tags"
                            label-cols-md="auto"
                            class="mb-0"
                            label-size="sm"
                            :description="searchDesc"
                            :disabled="disabled"
                          >
                            <b-form-input
                              v-model="search"
                              id="tag-search-input"
                              type="search"
                              size="sm"
                              autocomplete="on"
                            ></b-form-input>
                          </b-form-group>
                        </b-dropdown-form>
                        <b-dropdown-divider></b-dropdown-divider>
                        <b-dropdown-item-button
                          v-for="option in availableOptions"
                          :key="option"
                          @click="onOptionClick({ option, addTag })"
                        >{{ option }}</b-dropdown-item-button>
                        <b-dropdown-text
                          v-if="prerequisOption.length === 0"
                        >Aucun tag n'est disponible</b-dropdown-text>
                      </b-dropdown>
                    </template>
                  </b-form-tags>
                </b-form-group>

                <b-form-group
                  id="input-group-7"
                  label="Type de tuile :"
                  label-for="input-5"
                  v-if="addPage === 4"
                >
                  <b-form-select id="input-7" v-model="selectedTileType" :options="typeTuile" />
                </b-form-group>

                <b-form-group label="Image du header :" label-for="inputFile" v-if="addPage === 5">
                  <vue-dropzone
                    ref="myVueDropzone"
                    id="dropzone"
                    :options="dropzoneOptions"
                    @vdropzone-files-added="test"
                  ></vue-dropzone>
                </b-form-group>

                <div v-if="addPage < 4">
                  <b-button v-on:click="PagePlus" id="btn1" variant="primary">
                    <span>Suivant</span>
                  </b-button>
                  <b-button v-on:click="PageMoins" id="btn2" variant="danger" v-if="addPage !== 1">
                    <span>Precedent</span>
                  </b-button>
                </div>
                <div v-if="addPage === 4">
                  <b-button v-on:click="PagePlus" id="btn1" variant="success">
                    <span>Créer la tuile</span>
                  </b-button>
                  <b-button v-on:click="PageMoins" id="btn2" variant="danger" v-if="addPage !== 1">
                    <span>Precedent</span>
                  </b-button>
                </div>
                <div v-if="addPage === 5">
                  <b-button v-on:click="PagePlus" variant="primary">
                    <span>Ajouter le header</span>
                  </b-button>
                  <b-button v-on:click="PageMoins" variant="danger" v-if="addPage !== 1">
                    <span>Pas de header</span>
                  </b-button>
                </div>
              </b-form>
            </b-card>
          </div>
        </div>

        <!--            Page Edit-->
        <div class="row" v-if="edit === true">
          <div class="col-lg-12">
            <b-card title="Modifier une Tuile :">
              <b-form @submit="onUpdate" @reset="onReset">
                <b-form-select
                  v-model="selectedTile"
                  :options="tileSelect"
                  @change="getTuileForEdit"
                  v-if="edit === true"
                ></b-form-select>
                <br />
                <div v-if="selectedTile !== ''">
                  <b-form-group id="input-group-2-edit" label="Nom :" label-for="input-2">
                    <b-form-input
                      id="input-2"
                      v-model="nom"
                      required
                      placeholder="Entrez le nom..."
                    ></b-form-input>
                  </b-form-group>
                  <b-form-group id="input-group-3-edit" label="Description :" label-for="textarea">
                    <b-card>
                      Essayez de suivre ce modèle de description pour la mise en page de
                      votre
                      tuile (la description sera affichée telle que vous l'avez écrite) :
                      <b-img src="storage/patternDesc.png" style="width: 390px"></b-img>
                    </b-card>
                    <quill-editor v-model="text" ref="myQuillEditorEdit" :options="editorOption" />
                  </b-form-group>
                  <b-form-group id="input-group-4-edit" label="Catégorie :" label-for="input-4">
                    <b-form-select id="input-4" v-model="selected" :options="categories"></b-form-select>
                  </b-form-group>
                  <br />
                  <b-form-group label="Prix :" label-for="input-5">
                    <b-form-input type="number" id="input-5" v-model="prix" />
                  </b-form-group>

                  <b-form-group label="Coût de setup :" label-for="input-5">
                    <b-form-input type="number" id="input-8" v-model="setupCost" />
                  </b-form-group>

                  <b-form-group label="Prérequis:" label-for="input-5">
                    <!--                                    <b-form-tags id="input-5" v-model="Prerequis" remove-on-delete tag-pills-->
                    <!--                                                 tag-variant="primary"-->
                    <!--                                    />-->
                    <b-form-tags v-model="Prerequis" no-outer-focus class="mb-2">
                      <template v-slot="{ tags, disabled, addTag, removeTag }">
                        <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                          <li v-for="tag in tags" :key="tag" class="list-inline-item">
                            <b-form-tag
                              @remove="removeTag(tag)"
                              :title="tag"
                              :disabled="disabled"
                              variant="primary"
                              tag-pills
                            >{{ tag }}</b-form-tag>
                          </li>
                        </ul>

                        <b-dropdown size="sm" variant="outline-secondary" block menu-class="w-100">
                          <template v-slot:button-content>
                            <b-icon icon="tag-fill"></b-icon>Choissisez les prérequis
                          </template>
                          <b-dropdown-form @submit.stop.prevent="() => {}">
                            <b-form-group
                              label-for="tag-search-input"
                              label="Search tags"
                              label-cols-md="auto"
                              class="mb-0"
                              label-size="sm"
                              :description="searchDesc"
                              :disabled="disabled"
                            >
                              <b-form-input
                                v-model="search"
                                id="tag-search-input"
                                type="search"
                                size="sm"
                                autocomplete="on"
                              ></b-form-input>
                            </b-form-group>
                          </b-dropdown-form>
                          <b-dropdown-divider></b-dropdown-divider>
                          <b-dropdown-item-button
                            v-for="option in availableOptions"
                            :key="option"
                            @click="onOptionClick({ option, addTag })"
                          >{{ option }}</b-dropdown-item-button>
                          <b-dropdown-text
                            v-if="prerequisOption.length === 0"
                          >Aucun tag n'est disponible</b-dropdown-text>
                        </b-dropdown>
                      </template>
                    </b-form-tags>
                  </b-form-group>

                  <b-form-group label="Type de tuile :" label-for="input-5">
                    <b-form-select id="input-7" v-model="selectedTileType" :options="typeTuile" />
                  </b-form-group>
                </div>

                <b-form-group
                  label="Image du header :"
                  label-for="inputFile"
                  v-if="nom !== '' && selectedTile !== ''"
                >
                  <vue-dropzone
                    ref="myVueDropzoneEdit"
                    id="dropzoneEdit"
                    :options="dropzoneOptions2"
                    @vdropzone-files-added="test"
                    v-on:vdropzone-sending="sendingEvent"
                  ></vue-dropzone>
                </b-form-group>

                <b-button v-if="selectedTile !== ''" type="submit" variant="primary">Modifier</b-button>
                <b-button
                  v-if="selectedTile !== ''"
                  v-on:click="selectedTile = ''"
                  variant="danger"
                >Annuler</b-button>
              </b-form>
            </b-card>
          </div>
        </div>

        <!--            Page Delete-->
        <div class="row" v-if="deletePage === true">
          <div class="col-lg-12">
            <b-card title="Supprimer une Tuile :">
              <b-form @submit="onDelete" @reset="onReset">
                <b-form-group>
                  <b-form-select
                    v-model="selectedTile"
                    :options="tileSelect"
                    @change="getTuileForEdit"
                    v-if="deletePage === true"
                  ></b-form-select>
                </b-form-group>
                <br />

                <b-button @click="showModal = !showModal" variant="danger">Supprimer</b-button>
                <b-button type="reset" variant="primary">Annuler</b-button>
                <b-modal
                  v-model="showModal"
                  size="lg"
                  title="Êtes vous sûr?"
                  ok-title="Accepter"
                  cancel-title="Annuler"
                  @close="showModal = false"
                  @ok="onDelete"
                >
                  <p>Cette action est irréversible</p>
                </b-modal>
              </b-form>
            </b-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";
import { quillEditor } from "vue-quill-editor";
import ImageResize from "quill-image-resize-module";

Quill.register("modules/imageResize", ImageResize);

export default {
  name: "GestionTuiles",
  components: {
    vueDropzone: vue2Dropzone,
    quillEditor
  },

  data() {
    return {
      tuiles: [],
      add: false,
      addPage: 1,
      categories: [],
      selected: "",
      text: "",
      nom: "",
      newTuile: {},
      id: null,
      selectedTile: "",
      tileSelect: [],
      edit: false,
      deletePage: false,
      showModal: false,
      progression: 0,
      prix: 0,
      file: null,
      dropzoneOptions: {
        url: "/imgSuccess",
        uploadMultiple: false,
        autoProcessQueue: true,
        headers: {
          "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]")
            .content
        }
      },
      dropzoneOptions2: {
        url: "/imgEdit",
        uploadMultiple: false,
        autoProcessQueue: true,
        headers: {
          "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]")
            .content
        }
      },
      editorOption: {
        debug: "info",
        placeholder: "Description...",
        readOnly: true,
        theme: "snow",
        modules: {
          toolbar: [
            [{ font: [] }, { size: [] }],
            ["bold", "italic", "underline", "strike"],
            [{ color: [] }, { background: [] }],
            [{ script: "super" }, { script: "sub" }],
            [{ header: "1" }, { header: "2" }, "blockquote", "code-block"],
            [
              { list: "ordered" },
              { list: "bullet" },
              { indent: "-1" },
              { indent: "+1" }
            ],
            ["direction", { align: [] }],
            ["link", "image", "video", "formula"],
            ["clean"]
          ],
          imageResize: true
        }
      },
      typeTuile: [
        { value: "Transactionnelle", text: "Transactionnelle" },
        { value: "Overview Page", text: "Overview Page" },
        { value: "Analytical List Page ", text: "Analytical List Page " },
        { value: "List Report", text: "List Report" }
      ],
      selectedTileType: "",
      Prerequis: [],
      setupCost: 0,
      prerequisOption: [
        "UI5 1.73",
        "UI5 1.60",
        "UI5 1.50",
        "UI5 1.40",
        "ABAP 7.31",
        "ABAP 7.4",
        "ABAP 7.5",
        "ABAP 7.51",
        "MM",
        "FI",
        "HR",
        "SD"
      ],
      search: "",
      editPage: 0
    };
  },
  mounted() {
    this.getTuiles();
    this.getcats();
  },
  computed: {
    criteria() {
      // Compute the search criteria
      return this.search.trim().toLowerCase();
    },
    availableOptions() {
      const criteria = this.criteria;
      // Filter out already selected options
      const options = this.prerequisOption.filter(
        opt => this.Prerequis.indexOf(opt) === -1
      );
      if (criteria) {
        // Show only options that match criteria
        return options.filter(opt => opt.toLowerCase().indexOf(criteria) > -1);
      }
      // Show all options available
      return options;
    },
    searchDesc() {
      if (this.criteria && this.availableOptions.length === 0) {
        return "Aucun tag ne correspnd à votre reherche";
      }
      return "";
    }
  },
  methods: {
    onOptionClick({ option, addTag }) {
      addTag(option);
      this.search = "";
    },

    PagePlus() {
      switch (this.addPage) {
        case 1:
          if (this.nom.length !== 0) {
            this.addPage++;
            this.progression += 20;
          }
          break;

        case 2:
          if (this.text.length !== 0) {
            this.addPage++;
            this.progression += 20;
          }
          break;
        case 3:
          if (this.selected.length !== 0) {
            this.addPage++;
            this.progression += 20;
          }
          break;
        case 4:
          this.addPage++;
          this.progression += 20;
          this.onSubmit();
          break;
        case 5:
          this.progression += 20;
          this.onReset();
          this.add = false;
          break;
      }
    },
    PageMoins() {
      switch (this.addPage) {
        case 1:
          this.addPage--;
          this.progression -= 20;
          break;
        case 2:
          this.addPage--;
          this.progression -= 20;
          break;
        case 3:
          this.addPage--;
          this.progression -= 20;
          break;
        case 4:
          this.addPage--;
          this.progression -= 20;
          break;
        case 5:
          this.onReset();
          this.add = false;
          break;
      }
    },

    onShowModal() {
      this.showModal = true;
      this.$refs["my-modal"].show();
    },

    showAdd() {
      this.add = true;
      this.edit = false;
      this.deletePage = false;
      this.selected = "";
      this.text = "";
      this.nom = "";
    },

    showEdit() {
      this.add = false;
      this.edit = true;
      this.deletePage = false;
      this.editPage = 1;
    },

    showDelete() {
      this.add = false;
      this.edit = false;
      this.deletePage = true;
    },

    onSubmit() {
      var that = this;
      if (this.selected !== "" && this.nom !== "" && this.text !== "") {
        this.newTuile = {
          categoryID: this.selected,
          nom: this.nom,
          Description: this.text,
          prix: this.prix,
          setupCost: this.setupCost,
          prerequis: this.Prerequis,
          type: this.selectedTileType
        };
        axios.post("/tuilesStore", this.newTuile).then(function(res) {
          console.log(res.data);
        });
        this.getTuiles();
        console.log(this.newTuile);
      }
    },
    onReset() {
      this.addPage = 1;
      this.progression = 0;
      // Reset our form values
      this.text = "";
      this.nom = "";

      // Trick to reset/clear native browser form validation state
    },
    getTuiles() {
      this.tuiles = [];
      this.tileSelect = [];
      var that = this;
      axios.get("/tuilesGet").then(function(response) {
        that.tuiles = response.data;
        for (var i = 0; i < response.data.length; i++) {
          var tile = {
            value: response.data[i].ID,
            text: response.data[i].nom
          };
          that.tileSelect.push(tile);
        }
      });
    },

    getcats() {
      var that = this;
      axios.get("/catGet").then(function(response) {
        for (var i = 0; i < response.data.length; i++) {
          var cat = {
            value: response.data[i].ID,
            text: response.data[i].nom
          };
          that.categories.push(cat);
        }
      });
    },
    getTuileForEdit() {
      var that = this;
      axios
        .post("tuilesGetSingle", { ID: this.selectedTile })
        .then(function(response) {
          that.nom = response.data.nom;
          that.text = response.data.Description;
          that.selected = response.data.categoryID;
          that.prix = response.data.prix;
          that.setupCost = response.data.setupCost;
          that.selectedTileType = response.data.Type;
          that.Prerequis = response.data.Prerequis;
        });
    },

    onUpdate() {
      this.newTuile = {
        ID: this.selectedTile,
        categoryID: this.selected,
        nom: this.nom,
        Description: this.text,
        prix: this.prix,
        setupCost: this.setupCost,
        Prerequis: this.Prerequis,
        Type: this.selectedTileType
      };

      this.editPage = 2;
      axios.put("tuilesUpdate", this.newTuile);
    },

    onDelete() {
      if (this.selectedTile) {
        console.log("delete");
        axios.delete("tuilesDelete", { params: { ID: this.selectedTile } });
        this.getTuiles();
      }
    },

    sendingEvent(file, xhr, formData) {
      var that = this;
      formData.append("ID", that.selectedTile);
      console.log(formData);
    }
  }
};
</script>

<style scoped>
.container1 {
  padding-top: 20px;
}

.dropzone {
  width: 100%;
}
</style>
