<template>
    <div class="ui-widget" width="100%">
        <b-form-input v-model="query" placeholder="Rechercher une tuile ..." type="search"
                      @input="search" id="searchBar"></b-form-input>
    </div>
</template>

<script>
    export default {
        name: "SearchBar",
        data() {
            return {
                query: "",
                tiles: [],
            }
        },
        mounted() {
            this.getTuiles();
        },


        methods: {
            getTuiles() {
                var that = this;
                axios.get('/tuilesGet').then(function (response) {
                    for (var i = 0; i < response.data.length; i++) {
                        that.tiles.push(response.data[i].nom);
                    }

                });

            },

            search() {
                var that = this;
                $("#searchBar").autocomplete({
                    source: this.tiles,
                    select: function (event, ui) {
                        that.getTuile(ui.item.value);
                    }
                });

            },

            getTuile(nom) {
                window.location.href ="/tuile/" + nom
            }
        }
    }
</script>

<style scoped>

</style>
