<template>
  <div class="content">
    <section id="imageSection" class="tuileSection">
      <h1 id="titre">{{titre}}</h1>
      <a href="#DetailSection" v-on:click="showDetailSection">
        <div class="floatButtonDown" id="float"></div>
      </a>
    </section>
    <section id="DetailSection" class="tuileSection">
      <div class="row" style="width: 100%;">
        <div class="col-lg-3 col-md-4 infos">
          <div class="row infosupp">
            <div class="row" style="justify-content: center; width: 100%; height: 100%;">
              <h2 id="infoTitle">
                Informations
                <br />suplémentaires :
              </h2>
            </div>

            <div class="row infosDetails">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-2">
                    <div class="infosLogo" id="priceLogo"></div>
                  </div>
                  <div class="col-lg-10">
                    <h4 class="textInfoSupp">
                      Prix :
                      <b-badge
                        variant="light"
                        style="margin-top:10px; margin-right: 10px"
                      >{{tuile.prix}} Eur</b-badge>
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2">
                    <div class="infosLogo" id="setupLogo"></div>
                  </div>
                  <div class="col-lg-10">
                    <h4 class="textInfoSupp">
                      Coût de setup :
                      <b-badge
                        variant="light"
                        style="margin-top:10px; margin-right: 10px"
                      >{{tuile.setupCost}} J/H</b-badge>
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2">
                    <div class="infosLogo" id="prereqLogo"></div>
                  </div>
                  <div class="col-lg-10">
                    <h4 class="prereq">
                      Prérequis :
                      <div class="row" style="margin-left: 0.1em;">
                        <div v-for="prereq in tuile.Prerequis">
                          <b-badge
                            v-if="tuile.Prerequis !== ''"
                            variant="light"
                            style="margin-top:10px; margin-right: 10px"
                          >{{prereq}}</b-badge>
                        </div>
                      </div>
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2">
                    <div class="infosLogo" id="typeLogo"></div>
                  </div>
                  <div class="col-lg-10">
                    <h4 class="textInfoSupp">
                      Type :
                      <b-badge
                        variant="light"
                        style="margin-top:10px; margin-right: 10px"
                      >{{tuile.Type}}</b-badge>
                    </h4>
                  </div>
                </div>
                <!-- <div class="row">
                                    <div class="col-lg-2">
                                        <div class="infosLogo" id="tagLogo"></div>
                                    </div>
                                    <div class="col-lg-10">

                                        <h4 class="prereq">Tags :
                                            <div class="row" style="margin-left: 0.1em;">
                                                <div v-for="tag in tuile.tags">
                                                    <b-badge variant="light"
                                                             style="margin-top:10px; margin-right: 10px">{{tag.nom}}
                                                    </b-badge>
                                                </div>
                                            </div>
                                        </h4>
                                    </div>
                </div>-->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9 details">
          <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6" style="text-align: center">
              <h1 id="titreDetail">{{tuile.nom}}</h1>
            </div>
            <div class="col-lg-3"></div>
          </div>
          <hr />
          <div class="row desc" v-html="tuile.Description"></div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "tuile",
  props: ["tuile"],
  data() {
    return {
      titre: "",
      image: ""
    };
  },
  mounted() {
    // debugger;
    this.titre = this.tuile.nom.toUpperCase();

    document.getElementById("priceLogo").style.background =
      "url('/storage/misc/price.png') center center";
    document.getElementById("setupLogo").style.background =
      "url('/storage/misc/setup.png') center center";
    document.getElementById("prereqLogo").style.background =
      "url('/storage/misc/prerequis.png') center center";
    document.getElementById("typeLogo").style.background =
      "url('/storage/misc/type.png') center center";
    // document.getElementById('tagLogo').style.background = "url('/storage/misc/tag.png')";
    document.getElementById("float").style.background =
      "url('/storage/misc/up.png') center center";

    if (this.tuile.image !== null) {
      document.getElementById("imageSection").style.background =
        "url('/storage/ImagesTuiles/" + this.tuile.image.nom + "')";
      document.getElementById("imageSection").style.backgroundAttachment =
        "fixed";
      document.getElementById("imageSection").style.backgroundPosition =
        "center";
      document.getElementById("imageSection").style.backgroundRepeat =
        "no-repeat";
      document.getElementById("imageSection").style.backgroundSize = "cover";
    }
  },
  methods: {
    showDetailSection() {
      // document.getElementById('float').style.display = 'none';
    }
  },

  watch: {
    scroll() {
      $(window).on("scroll", function() {
        var scrollHeight = $(document).height();
        var scrollPosition = $(window).height() + $(window).scrollTop();
        if ((scrollHeight - scrollPosition) / scrollHeight === 0) {
          document.getElementById("float").style.display = "block";
        }
      });
    }
  }
};
</script>

<style scoped>
h1,
h2,
h3,
h4,
p {
  font-family: "Montserrat", sans-serif !important;
}
@media screen and (max-width: 1300px) {
  .infos {
    background-color: #454243;
    min-height: 95vh;
  }

  .infosupp {
      margin: 0;
    padding-top: 50px;
  }

  .details {
    background-color: #fff;
    padding-top: 70px;
    height: 90vh;
  }

  .desc {
    padding: 4vh;
    font-family: "Montserrat", sans-serif;
    position: relative;
    height: auto;
    overflow-y: auto;
  }

  .desc img {
    margin-right: 1000px;
  }

  .tuileSection {
    width: 100%;
  }

  #imageSection {
    padding-top: 40vh;
    min-height: 100vh;
    z-index: 1;
    background: #1fabc2;
    text-align: center;
  }

  #DetailSection {
      min-height: 90vh;
    z-index: 3;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.55);
  }

  .floatButtonDown {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    position: absolute;
    bottom: 70px;
    right: 48%;
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.45);
    align-content: center;
    justify-content: center;
    z-index: 2;
  }

  .floatButtonUp {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    position: absolute;
    bottom: -100px;
    right: 48%;
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.45);
    align-content: center;
    justify-content: center;
    z-index: 2;
  }

  #titre {
    margin: auto;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 60pt;
    font-weight: bold;
    text-shadow: 0.03em 0.05em 0.05em rgba(0, 0, 0, 0.3);
  }

  #titreDetail {
    font-family: "Montserrat", sans-serif;
  }

  #infoTitle {
      font-size: 15pt;
      margin: 0;
    color: white;
    text-align: center;
  }

  .infosDetails {
    width: 100%;
    padding-top: 2em;
  }

  .infosLogo {
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-bottom: 3em;
    border-radius: 50px; 
    box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.1);
  }

  .textInfoSupp {
    color: white;
    margin-top: 0.5em;
    font-size: 13pt;
    margin-left: 3em;
  }

  .prereq {
color: white;
    margin-top: 0.3em;
    font-size: 13pt;
    margin-left: 3em;
  }
}

@media screen and (min-width: 1301px) {
  .infos {
    background-color: #454243;
    min-height: 100vh;
  }

  .infosupp {
    padding-top: 70px;
  }

  .details {
    background-color: #fff;
    padding-top: 70px;
  }

  .desc {
    padding: 4vh;
    font-family: "Montserrat", sans-serif;
    position: relative;
    height: auto;
    overflow-y: auto;
  }

  .desc img {
    margin-right: 1000px;
  }

  .tuileSection {
    width: 100%;
  }

  #imageSection {
    padding-top: 40vh;
    min-height: 100vh;
    z-index: 1;
    background: #1fabc2;
    text-align: center;
  }

  #DetailSection {
    min-height: 100vh;
    z-index: 3;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.55);
  }

  .floatButtonDown {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    position: absolute;
    bottom: 70px;
    right: 48%;
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.45);
    align-content: center;
    justify-content: center;
    z-index: 2;
  }

  .floatButtonUp {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    position: absolute;
    bottom: -100px;
    right: 48%;
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.45);
    align-content: center;
    justify-content: center;
    z-index: 2;
  }

  #titre {
    margin: auto;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 60pt;
    font-weight: bold;
    text-shadow: 0.03em 0.05em 0.05em rgba(0, 0, 0, 0.3);
  }

  #titreDetail {
    font-family: "Montserrat", sans-serif;
  }

  #infoTitle {
    color: white;
    text-align: center;
  }

  .infosDetails {
    width: 100%;
    padding-top: 2em;
  }

  .infosLogo {
    width: 75px;
    height: 75px;
    margin-left: 30px;
    margin-bottom: 3em;
    border-radius: 75px;
    box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.1);
  }

  .textInfoSupp {
    color: white;
    margin-top: 1em;
    margin-left: 3em;
  }

  .prereq {
    color: white;
    margin-top: 0.3em;
    margin-left: 3em;
  }
}
</style>
