<template>
    <div id="main">
        <div class="fof">
            <h1>Vous n'avez pas accès à cette page</h1>

        </div>
    </div>
</template>

<script>
    export default {
        name: "unauthorized"
    }
</script>

<style scoped>
    * {
        transition: all 0.6s;
    }

    html {
        height: 100%;
    }

    body {
        font-family: "Montserrat", sans-serif;

        color: #888;
        margin: 0;
    }

    #main {
        background: url('/storage/misc/SYNVANCE PHOTOS HEADER 73.jpg') !important;
        display: table;
        width: 100%;
        height: 95vh;
        text-align: center;
    }

    .fof {
        display: table-cell;
        vertical-align: middle;
    }

    .fof h1 {
        color: #fff;
        font-size: 50px;
        display: inline-block;
        padding-right: 12px;
        animation: type .5s alternate infinite;
    }

    h3 {
        color: #fff;
    }

    @keyframes type {
        from {
            box-shadow: inset -3px 0px 0px #fff;
        }
        to {
            box-shadow: inset -3px 0px 0px transparent;
        }
    }
</style>
